<app-navbar></app-navbar>
    <div class="pricing py-5">
        <div class="container">
            <div class="row">
              <div class="col-12 text-center mb-5">
                  <h1 class="pricing-header">Choose a plan that best for you</h1>               
              </div>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">1 Month</h5>
                            <h6 class="card-price text-center">Rp 25000</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Access To Premium Thread</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">3 Month</h5>
                            <h6 class="card-price text-center">Rp 75000</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Access To Premium Thread</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">6 Month</h5>
                            <h6 class="card-price text-center">Rp 100000</h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Access To Premium Thread</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary text-uppercase">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
    
