<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary w-100 text-center" routerLink="/thread/add">Write a thread</button>
                </div>
                <div class="col-12">
                    <div class="card p-0">                       
                        <div class="card-body p-5">                            
                             <div class="row justify-content-between align-items-center mb-3">
                                 <div class="col-8">
                                     <div class="d-flex align-items-center">
                                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS79JnJy_zkaMg-tUw2qbapJ4ESUpD3paoVog&usqp=CAU"
                                             height="40" width="40" class="br-full" alt="">
                                         <p class="ml-3 thread-profile-text">Hans Sopandi</p>
                                     </div>
                                 </div>
                                 <div class="col-4 relative">
                                     <div class="d-flex justify-content-end">
                                         <p class="badge-event max-content px-3 py-2 text-white br-8"><i
                                                 class="fa-regular fa-calendar"></i>
                                             Event
                                         </p>
                                     </div>
                                 </div>
                             </div>
                            <div class="card-title">
                                <h4>10 Manusia Terkuat dibumi, nomor 2 bikin geleng kepala</h4>
                            </div>
                            <p class="card-text text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="card-footer text-muted px-5">
                            <a href=""><i class="fa-regular fa-heart"></i></a>
                            <a href="" class="ml-3"><i class="fa-regular fa-comment"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-center">
                <div class="col-10">
                    <a class="text-activity" href="#">
                        <div class="card p-0">
                            <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                class="card-img-top" alt="...">
                            <div class="card-body p-4">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <p class="m-0">Red Erp</p>
                                    <p class="badge-event px-3 py-2 text-white br-8"><i
                                            class="fa-regular fa-calendar"></i>
                                        Event
                                    </p>
                                </div>
                                <div class="card-title">
                                    <h4>Recruitment Interview Expert Training</h4>
                                </div>
                                <div class="row">
                                    <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                                    <div class="col-5 text-muted">Online</div>
                                    <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                    <div class="col-5 text-muted">19.30 - 20.30</div>
                                    <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                    <div class="col-5 text-muted">Jumat, 1 February 21 - Kamis, 7 Februari 21</div>
                                    <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                                    <div class="col-5 text-muted">Rp 200000</div>
                                    <div class="col-8 mx-auto">
                                        <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                                class="fa-regular fa-calendar"></i>
                                            Career & Succession
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
