<app-navbar></app-navbar>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen overflow-hidden">
    <div class="grid mw-50">
        <form class="col-12" #activityForm="ngForm" (ngSubmit)="insert(activityForm.form.valid)">
            <div class="card shadow-3">
                <div class="grid justify-content-between">
                    <div class="col-3">
                        <h5>Activity Form</h5>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid justify-content-start">
                    <div class="field col-12">
                        <label htmlFor="firstname2">Activity Name</label>
                        <input pInputText id="name" name="name" [required]="true"
                        [(ngModel)]="insertActivityDtoReq.activityName" type="text" />
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <label htmlFor="state">Activity Type</label>
                        <p-dropdown [options]="activityTypes" [required]="true" optionLabel="activityTypeName"
                            id="activity_type" name="activity_type" optionValue="id"
                            [(ngModel)]="insertActivityDtoReq.activityTypeId">
                        </p-dropdown>
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <label htmlFor="state">Category</label>
                        <p-dropdown [options]="categories" [required]="true" optionLabel="categoryName"
                            id="category" name="category" optionValue="id" 
                            [(ngModel)]="insertActivityDtoReq.categoryId">
                        </p-dropdown>
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Date Start</h5>
                        <input type="date" id="datestart" name="datestart" [required]="true"
                        [(ngModel)]="insertActivityDtoReq.dateStart" class="form-control">
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Date End</h5>
                        <input type="date" id="dateend" name="dateend" [required]="true"
                        [(ngModel)]="insertActivityDtoReq.dateEnd" class="form-control">
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Time Start</h5>
                        <input type="time" id="timestart" name="timestart" [required]="true"
                            [(ngModel)]="insertActivityDtoReq.timeStart" class="form-control">
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Time End</h5>
                        <input type="time" id="timeend" name="timeend" [required]="true"
                            [(ngModel)]="insertActivityDtoReq.timeEnd" class="form-control">
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Activity Picture</h5>
                        <input type="file" name="file1" id="file1" (change)="changeFile($event)"
                        class="form-control" [required]="true">
                    </div>
                    <div class="field md:col-6 sm:col-12">
                        <h5>Payment Picture</h5>
                        <input type="file" name="file2" id="file2" (change)="changeFile($event)"
                        class="form-control" [required]="true">
                    </div>
                    <div class="field col-3 text-center">                   
                        <button type="submit" pButton label="Submit" class="p-button-success" [disabled]="activityForm.form.invalid"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
