<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Order List</h2>
        </div>
        <div *ngFor="let order of orders" class="card col-6 py-3">
            <div class="row align-items-center">                
                <div class="col-6 text-center">            
                    <h2 *ngIf="order.activityName != null" class="">{{order.activityName}}</h2>
                    <h2 *ngIf="order.duration != null" class="">Subscribtion : {{order.duration}} Month</h2>
                    <p class="badge bg-danger text-status">{{order.transactionStatusName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>