<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>My Order</h2>
        </div>
        <ng-container *ngIf="orders$ | async as orders">
            <div *ngFor="let order of orders" class="col-md-8">
                <div class="row align-items-center">
                    <div class="col-12 text-start">
                        <div *ngIf="order.activityName != null" class="card">
                            <table>
                                <tr class="w-100">
                                    <td class="text">Invoice</td>
                                    <td>: {{order.invoice}}</td>
                                </tr>
                                <tr>
                                    <td>Activity Name</td>
                                    <td>: {{order.activityName}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>: <span [ngClass]="order.transactionStatusName == 'Pending' ? 'badge bg-danger' :
                                'badge bg-success '">{{order.transactionStatusName}}</span></td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="order.duration != null" class="card">
                            <table>
                                <tr>
                                    <td class="text">Invoice</td>
                                    <td>: {{order.invoice}}</td>
                                </tr>
                                <tr>
                                    <td>Subscribtion</td>
                                    <td>: {{order.duration}} Month</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>: <span [ngClass]="order.transactionStatusName == 'Pending' ? 'badge bg-danger' :
                                'badge bg-success '">{{order.transactionStatusName}}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
