  <app-navbar></app-navbar>
  <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
      <div class="grid mw-50">
          <form class="col-12">
              <div class="card shadow-3">

                  <div class="grid justify-content-between">
                      <div class="col-3">
                          <h5>Thread Form</h5>
                      </div>
                      <div class="col-3 text-right">
                          <button pButton label="Submit"></button>
                      </div>



                  </div>
                  <div class="p-fluid p-formgrid grid">
                      <div class="field md:col-6 sm:col-12">
                          <label htmlFor="state">Thread Type</label>
                          <p-dropdown [options]="threadTypes" name="threadType" optionLabel="name" optionValue="id"
                              [(ngModel)]="selectedDrop" placeholder="Select Thread Type" [showClear]="true">
                          </p-dropdown>
                      </div>
                      <div class="field col-12">
                          <label htmlFor="title">Title</label>
                          <input pInputText id="title" type="text" />
                      </div>
                      <div class="field col-12">
                          <label htmlFor="description">Description</label>
                          <textarea pInputTextarea id="description" placeholder="Your Message" autoResize rows="3"
                              cols="30"></textarea>
                      </div>

                      <div *ngIf="selectedDrop == 2" class="field sm:col-12">
                          <label htmlFor="pollingTitle">Polling Title</label>
                          <input pInputText id="pollingTitle" type="text" />
                      </div>
                      <div *ngIf="selectedDrop==2" class="col-12">
                          <div *ngFor="let i of createRange(pollingDetailCounter); let no = index" class="field">
                              <label htmlFor="polingName">Poling Name {{no+1}}</label>
                              <input pInputText id="polingName" type="text" />
                          </div>
                      </div>
                      <div *ngIf="selectedDrop == 2" class="sm:col-12 mx-auto">
                          <div class="p-formgrid grid">
                              <div class="col-6">
                                  <button pButton (click)="onAdd()" type="button" icon="pi pi-plus" iconPos="left"
                                      label="Add Polling"></button>
                              </div>
                              <div class="col-6">
                                  <button pButton (click)="onReduce()" class="p-button-danger" type="button"
                                      icon="pi pi-minus" iconPos="left" label="Remove Polling"></button>
                              </div>
                          </div>


                      </div>

                      <div *ngIf="selectedDrop == 1 || selectedDrop == 3" class="field md:col-6 sm:col-12">
                          <h5>Picture</h5>
                          <p-fileUpload name="myfile[]" url="./upload.php" accept="image/*" [auto]="true">
                          </p-fileUpload>
                      </div>



                  </div>
              </div>
          </form>
      </div>
  </div>
