<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="bg-success px-3 py-2 text-white br-8 max-content"><i class="fa-solid fa-newspaper"></i>
                        Article
                    </h5>
                </div>
                <ng-container *ngIf="articles$ | async as articles">
                    <div *ngFor="let article of articles" class="col-md-12">
                        <div class="card p-0">
                            <div class="card-body p-5">
                                <div class="row justify-content-between align-items-center mb-3">
                                    <div class="col-md-12">
                                        <p><span class="text-muted">Posted By </span>{{article.publisherName}} <span
                                                class="text-muted">At </span>{{article.publishedTime}}</p>
                                    </div>
                                    <div *ngIf="article.fileId != null" class="col-md-4">
                                        <img src="http://localhost:8080/files/{{article.fileId}}" class="w-100" alt="">
                                    </div>
                                    <div [ngClass]="article.fileId != null ? 'col-md-8' : 'col-md-12'">
                                        <div class="card-title">
                                            <h4>{{article.title}}</h4>
                                        </div>
                                        <p *ngIf="article.content.length > 500 && !article.clicked"
                                            class="card-text text-secondary article-text">
                                            {{article.content.substr(0,500)}}...
                                            <a class="text-primary pointer" (click)="onReadMore(article.id)">Read
                                                More</a>
                                        </p>
                                        <p *ngIf="article.content.length < 500"
                                            class="card-text text-secondary article-text">{{article.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
            </div>
        </div>
        <div class="col-md-4 col-sm-10">
            <div class="col-md-12">
                <h5 class="bg-primary px-3 py-2 text-white br-8 max-content"><i class="fa-regular fa-calendar"></i>
                    Latest Activity
                </h5>
            </div>
            <ng-container *ngIf="courses$ | async as courses">
                <div *ngFor="let course of courses" class="col-md-12 mb-4">
                    <div class="card p-0 relative">
                        <div class="card-img relative">
                            <img src="http://localhost:8080/files/{{course.fileId}}" class="card-img-top activity-img"
                                alt="...">
                        </div>

                        <div class="card-body p-4">
                            <div class="card-title">
                                <p class="badge-event fit-content px-3 py-1 text-white br-8 text-center">
                                    <i class="fa-solid fa-award"></i> {{course.activityTypeName}}
                                </p>
                                <h5><a class="pointer title-activity"
                                        (click)="onClick(course.id)">{{course.activityName}}</a>
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-1 text-muted"><i class="fa-solid fa-calendar"></i></div>
                                <div class="col-11 text-muted">{{course.dateStart}} - {{course.dateEnd}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="col-11 text-muted">{{course.location}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                <div class="col-11 text-muted">{{course.timeStart.substr(0,5)}} -
                                    {{course.timeEnd.substr(0,5)}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                                <div class="col-11 text-muted">Rp{{course.price}}</div>

                                <div class="col-md-12 mr-auto">
                                    <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                            class="fa-regular fa-calendar"></i>
                                        {{course.categoryName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="events$ | async as events">
                <div *ngFor="let event of events" class="col-md-12 mb-4">
                    <div class="card p-0 relative">
                        <div class="card-img relative">
                            <img src="http://localhost:8080/files/{{event.fileId}}" class="card-img-top activity-img"
                                alt="...">
                        </div>

                        <div class="card-body p-4">
                            <div class="card-title">
                                <p class="badge-event fit-content px-3 py-1 text-white br-8 text-center">
                                    <i class="fa-solid fa-award"></i> {{event.activityTypeName}}
                                </p>
                                <h5><a class="pointer title-activity"
                                        (click)="onClick(event.id)">{{event.activityName}}</a>
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-1 text-muted"><i class="fa-solid fa-calendar"></i></div>
                                <div class="col-11 text-muted">{{event.dateStart}} - {{event.dateEnd}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="col-11 text-muted">{{event.location}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                <div class="col-11 text-muted">{{event.timeStart.substr(0,5)}} -
                                    {{event.timeEnd.substr(0,5)}}</div>
                                <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                                <div class="col-11 text-muted">Rp{{event.price}}</div>

                                <div class="col-md-12 mr-auto">
                                    <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                            class="fa-regular fa-calendar"></i>
                                        {{event.categoryName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>            
        </div>
    </div>
</div>
