<app-navbar></app-navbar>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen overflow-hidden">
    <div class="grid mw-50 my-2">
        <form class="col-12" #threadForm="ngForm" (ngSubmit)="insert(threadForm.form.valid)">
            <div class="card shadow-3">
                <div class="grid justify-content-between">
                    <div class="col-3">
                        <h5>Thread Form</h5>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid justify-content-start">
                    <div class="field md:col-6 sm:col-12">
                        <label htmlFor="state">Thread Type</label>
                        
                            <p-dropdown [options]="threadTypes" id="threadType" name="threadType"
                                optionLabel="threadTypeName" optionValue="id" [(ngModel)]="insertThread.threadTypeId"
                                placeholder="Select Thread Type" [showClear]="true" [required]="true"
                                (ngModelChange)="changeType()">
                            </p-dropdown>                                          
                    </div>
                    <div class="field col-12">
                        <label htmlFor="title">Title</label>
                        <input pInputText id="title" type="text" name="title" [required]="true"
                            [(ngModel)]="insertThread.title">
                    </div>
                    <div class="field col-12">
                        <label htmlFor="content">Content</label>
                        <textarea pInputTextarea id="content" name="content" placeholder="Your Content" autoResize
                            rows="3" [(ngModel)]="insertThread.content" cols="30" [required]="true">
                        </textarea>
                    </div>

                    <div *ngIf="selectedDrop == pollingCode" class="field sm:col-12">
                        <label htmlFor="pollingTitle">Polling Title</label>
                        <input pInputText id="pollingTitle" name="pollingTitle" type="text"
                            [(ngModel)]="insertPollingHeader.title" [required]="true" />
                    </div>
                    <div *ngIf="selectedDrop == pollingCode" class="col-12">
                        <div class="field">
                            <label htmlFor="polingName">Polling Name</label>
                            <input pInputText id="polingName" name="polingName" type="text" [(ngModel)]="pollingName"
                                [required]="true">
                        </div>
                    </div>
                    <div *ngIf="selectedDrop == pollingCode" class="sm:col-12 mx-auto">
                        <div class="p-formgrid grid">
                            <div class="col-6">
                                <button pButton (click)="onAdd()" type="button" icon="pi pi-plus" iconPos="left"
                                    label="Add Polling"></button>
                            </div>
                        </div>
                    </div>

                    <table *ngIf="selectedDrop == pollingCode" class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Polling Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of pollingNames; let no=index">
                                <th scope="row">{{no+1}}</th>
                                <td>{{data}}</td>
                                <td><button (click)="onDelete(no)" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="selectedDrop != pollingCode" class="field col-12">
                        <h5>Picture</h5>
                        <input type="file" id="file" name="file" (click)="changeFile($event)" class="form-control">
                    </div>

                    <div class="field col-3 text-center">
                        <button type="submit" pButton label="Submit" class="p-button-success"
                            [disabled]="threadForm.form.invalid"></button>
                    </div>
                    <div class="field col-3 text-center">
                        <button type="button" routerLink="/member/thread" pButton label="Back" class="p-button-danger"></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>