 <app-navbar></app-navbar>
 <div class="container my-3">
     <h2><span class="badge bg-primary"><i class="fa-regular fa-calendar"></i> Activity</span></h2>
 </div>
 <div class="container">
     <div class="row">
         <div *ngFor="let activity of activities" class="col-md-4 mb-4">
             <a class="text-activity" href="#">
                 <div class="card p-0 relative">
                     <img src="http://localhost:8080/files/{{activity.fileId}}"
                         class="card-img-top" alt="...">
                     <div class="card-body p-4">
                         <div class="d-flex justify-content-between align-items-center mb-4">                             
                             <p class="badge-event px-3 py-2 text-white br-8"><i class="fa-regular fa-calendar"></i>
                                 Event
                             </p>
                         </div>
                         <div class="card-title">
                             <h4>Recruitment Interview Expert Training</h4>
                         </div>
                         <div class="row">
                             <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                             <div class="col-5 text-muted">Online</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">19.30 - 20.30</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">Jumat, 1 February 21 - Kamis, 7 Februari 21</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                             <div class="col-5 text-muted">Rp 200000</div>
                             <div class="col-8 mx-auto">
                                 <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                         class="fa-regular fa-calendar"></i>
                                    Career & Succession
                                 </p>
                             </div>
                         </div>                         
                     </div>
                 </div>
             </a>
         </div>     
         
         <div class="col-md-4 mb-4">
             <a class="text-activity" href="#">
                 <div class="card p-0">
                     <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                         class="card-img-top" alt="...">
                     <div class="card-body p-4">
                         <div class="d-flex justify-content-between align-items-center mb-4">
                             <p class="m-0">Red Erp</p>
                             <p class="badge-event px-3 py-2 text-white br-8"><i class="fa-regular fa-calendar"></i>
                                 Event
                             </p>
                         </div>
                         <div class="card-title">
                             <h4>Recruitment Interview Expert Training</h4>
                         </div>
                         <div class="row">
                             <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                             <div class="col-5 text-muted">Online</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">19.30 - 20.30</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">Jumat, 1 February 21 - Kamis, 7 Februari 21</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                             <div class="col-5 text-muted">Rp 200000</div>
                             <div class="col-8 mx-auto">
                                 <p class="badge-activity-blue px-3 py-2 br-8 text-center"><i
                                         class="fa-regular fa-calendar"></i>
                                     HR Digital
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
             </a>
         </div>

         <div class="col-md-4 mb-4">
             <a href="#" class="text-activity">
                 <div class="card p-0">
                     <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                         class="card-img-top" alt="...">
                     <div class="card-body p-4">
                         <div class="d-flex justify-content-between align-items-center mb-4">
                             <p class="m-0">Red Erp</p>
                             <p class="badge-event px-3 py-2 text-white br-8"><i class="fa-regular fa-calendar"></i>
                                 Event
                             </p>
                         </div>
                         <div class="card-title">
                             <h4>Recruitment Interview Expert Training</h4>
                         </div>
                         <div class="row">
                             <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                             <div class="col-5 text-muted">Online</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">19.30 - 20.30</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                             <div class="col-5 text-muted">Jumat, 1 February 21 - Kamis, 7 Februari 21</div>
                             <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                             <div class="col-5 text-muted">Rp 200000</div>
                             <div class="col-8 mx-auto">
                                 <p class="badge-activity-red px-3 py-2 br-8 text-center"><i
                                         class="fa-regular fa-calendar"></i>
                                     Performance & Development
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
             </a>
         </div>
     </div>
 </div>
