<app-navbar></app-navbar>
<div class="container my-3">
    <h2><span class="badge bg-primary"><i class="fa-regular fa-calendar"></i> Activity</span></h2>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let activity of activities" class="col-md-4 mb-4">
            <a class="text-activity" href="#">
                <div class="card p-0 relative">
                    <img src="http://localhost:8080/files/{{activity.fileId}}" class="card-img-top activity-img"
                        alt="...">
                    <div class="card-body p-4">
                        <div class="d-flex mb-2">
                            <p class="badge-event w-100 px-3 py-2 text-white br-8 text-center"><i
                                    class="fa-regular fa-calendar"></i>
                                {{activity.activityTypeName}}
                            </p>
                        </div>
                        <div class="card-title">
                            <h4>{{activity.activityName}}</h4>
                        </div>
                        <div class="row">
                            <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                            <div class="col-5 text-muted">{{activity.location}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                            <div class="col-5 text-muted">{{activity.timeStart}} - {{activity.timeEnd}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                            <div class="col-5 text-muted">{{activity.dateStart}} - {{activity.dateEnd}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                            <div class="col-5 text-muted">IDR {{activity.price}}</div>
                            <div class="col-8 mx-auto">
                                <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                        class="fa-regular fa-calendar"></i>
                                    {{activity.categoryName}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>