<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h5 class="bg-success px-3 py-2 text-white br-8 max-content"><i class="fa-regular fa-calendar"></i>
                My Activity
            </h5>
        </div>
        <ng-container *ngIf="activities$ | async as activities">
            <div *ngFor="let activity of activities" class="col-md-4 mb-4">
                <div class="card p-0 relative">
                    <div class="card-img relative">
                        <img src="http://localhost:8080/files/{{activity.fileId}}" class="card-img-top activity-img"
                            alt="activity-img">
                    </div>

                    <div class="card-body p-4">
                        <div class="card-title">
                            <p class="badge-event fit-content px-3 py-1 text-white br-8 text-center">
                                <i class="fa-solid fa-award"></i> {{activity.activityTypeName}}
                            </p>
                            <h5>{{activity.activityName}}</h5>
                        </div>
                        <div class="row">
                            <div class="col-1 text-muted"><i class="fa-solid fa-calendar"></i></div>
                            <div class="col-11 text-muted">{{activity.dateStart}} - {{activity.dateEnd}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                            <div class="col-11 text-muted">{{activity.location}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                            <div class="col-11 text-muted">{{activity.timeStart.substr(0,5)}} -
                                {{activity.timeEnd.substr(0,5)}}</div>
                            <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                            <div class="col-11 text-muted">Rp{{activity.price}}</div>

                            <div class="col-md-12">
                                <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                        class="fa-regular fa-calendar"></i>
                                    {{activity.categoryName}}
                                </p>
                            </div>
                            <div class="col-6 mt-1 mx-auto text-center">
                                <button type="button" (click)="onClick(activity.id)"
                                    class="btn btn-success w-100">Participant</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>