
<nav class="navbar navbar-expand-lg navbar-light bg-white p-2">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/member/thread"><img src="../../../assets/img/lawverse-logo.png" alt="lawverse-logo-img" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">              
                 <li class="nav-item dropdown text-center p-1">
                     <a class="nav-link dropdown-toggle navbar-text"  id="navbarDropdownMenuLink"
                         role="button"
                         data-bs-toggle="dropdown" aria-expanded="false">
                         Article
                     </a>
                     <ul class="dropdown-menu p-1" aria-labelledby="navbarDropdownMenuLink">
                         <li><a class="dropdown-item" routerLink="/member/article" >Article</a></li>
                         <li><a class="dropdown-item" routerLink="/member/article/new" >Add Article</a></li>
                     </ul>
                 </li>
                <li class="nav-item dropdown text-center p-1">
                    <a class="nav-link dropdown-toggle navbar-text"  id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Activity
                    </a>
                    <ul class="dropdown-menu p-1" aria-labelledby="navbarDropdownMenuLink">                        
                        <li><a class="dropdown-item" routerLink="/member/activity/course" >Course</a></li>
                        <li><a class="dropdown-item" routerLink="/member/activity/event" >Event</a></li>
                        <li><a class="dropdown-item" routerLink="/member/activity/new" >Add Activity</a></li>
                    </ul>
                </li>
                <li class="nav-item text-center p-1">
                    <a class="nav-link navbar-text" routerLink="/member/thread" >
                        Thread
                    </a>                  
                </li>
                <li class="nav-item dropdown text-center p-1">
                    <a class="nav-link dropdown-toggle navbar-text"  id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Order
                    </a>
                    <ul class="dropdown-menu p-1" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/member/order/subscribtion">Order Subscribe</a></li>
                        <li><a class="dropdown-item" routerLink="/member/order/status">Status Order</a></li>
                    </ul>
                </li>
            </ul>            
        </div>
       
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item dropdown mr-3 text-center p-1">
                          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <img *ngIf="profile.fileId == null" src="../../../assets/img/default-profile-picture.jpg"
                                 class="br-full" height="40" width="40" alt="profile-picture-img">
                                 <img *ngIf="profile.fileId != null"
                                     src="http://localhost:8080/files/{{profile.fileId}}" class="br-full" height="40"
                                     width="40" alt="profile-picture-img">
                          </a>
                          <ul class="dropdown-menu navbar-profile-dropdown p-1" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" routerLink="/member/profile">My Profile</a></li>
                              <li><a class="dropdown-item" routerLink="/member/bookmarked-thread">Bookmarked Thread</a></li>                                                            
                              <li><a class="dropdown-item" routerLink="/member/my-activity">My Activity</a></li>
                              <li><a class="dropdown-item text-danger" (click)="onLogout()">Log Out</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>            
        </div>
   
</nav>