  <app-navbar></app-navbar>
  <div class="surface-0 flex align-items-center justify-content-center min-h-screen overflow-hidden">
      <div class="grid mw-50">
          <div class="col-12">
              <div class="card shadow-3">
                  <div class="grid justify-content-between">
                      <div class="col-3">
                          <h5>Activity Form</h5>
                      </div>
                  </div>
                  <div class="p-fluid p-formgrid grid justify-content-start">
                      <div class="field col-12">
                          <label htmlFor="firstname2">Activity Name</label>
                          <input pInputText id="firstname2" type="text" />
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <label htmlFor="state">Activity Type</label>
                          <p-dropdown [options]="activityTypes" optionLabel="label">
                          </p-dropdown>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <label htmlFor="state">Category</label>
                          <p-dropdown [options]="categories" optionLabel="label">
                          </p-dropdown>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Date Start</h5>
                          <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Date End</h5>
                          <p-calendar [showIcon]="true" [showButtonBar]="true"></p-calendar>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Time Start</h5>
                          <p-calendar [showIcon]="true" [timeOnly]="true" [showButtonBar]=" true"></p-calendar>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Time End</h5>
                          <p-calendar [showIcon]="true" [timeOnly]="true" [showButtonBar]=" true"></p-calendar>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Activity Picture</h5>
                          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                              maxFileSize="1000000" chooseLabel="Browse"></p-fileUpload>
                      </div>
                      <div class="field md:col-6 sm:col-12">
                          <h5>Payment Picture</h5>
                          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                              maxFileSize="1000000" chooseLabel="Browse"></p-fileUpload>
                      </div>
                      <div class="field col-3 text-center">                   
                              <button pButton label="Submit" class="p-button-success"></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
