<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Role List</h5>
            <p-table #dt1 [value]="roles" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines"
                [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-end flex-column sm:flex-row">
                        <button pButton label="Delete" icon="pi pi-trash"
                            class="p-element p-ripple p-button-danger mr-2 mb-2 p-button p-component mb-2"></button>
                        <button pButton label="Add" icon="pi pi-plus" routerLink="/new"
                            class="p-element p-ripple p-button-success mr-2 mb-2 p-button p-component mb-2"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="table-checkbox">
                            <input type="checkbox">
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Role Code
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Role Name
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td style="min-width: 12rem;">
                            {{data.name}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{data.code}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>
