  <app-navbar></app-navbar>
  <div class="surface-0 flex align-items-center justify-content-center min-h-screen overflow-hidden">
      <div class="grid mw-50 my-2">
          <form #FormArticle="ngForm" (ngSubmit)="onSubmit(FormArticle.form.valid)" class="col-12">
              <div class="card shadow-3">
                  <div class="grid justify-content-between">
                      <div class="col-3">
                          <h5>Article Form</h5>
                      </div>
                  </div>
                  <div class="p-fluid p-formgrid grid justify-content-start">                     
                      <div class="field col-12">
                          <label htmlFor="title">Title<span class="text-danger">*</span></label>
                          <input pInputText id="title" name="title" required="true" [(ngModel)]="article.title" type="text" />
                      </div>
                      <div class="field col-12">
                          <label htmlFor="content">Content <span class="text-danger">*</span></label>
                          <textarea pInputTextarea id="content" required="true" name="content" [(ngModel)]="article.content"
                              placeholder="Your Message" autoResize rows="3"
                              cols="30"></textarea>
                      </div>                                                           

                      <div  class="field col-12">
                          <h5>Picture</h5>
                          <input type="file" (change)="change($event)" class="form-control p-inputtext">
                      </div>

                      <div class="field col-3 text-center">
                          <button pButton type="submit"  label="Submit" class="p-button-success"></button>
                      </div>

                  </div>
              </div>
          </form>
      </div>
  </div>
