<app-navbar></app-navbar>
<div class="header min-height-60 relative mb-3">
    <div class="header-overlay d-flex justify-content-center align-items-center text-center">
        <h1 class="text-light">Welcome to Lawencon Universe <br> You can ask advice, exploring career path</h1>
    </div>
</div>
<div class="container">
    <div class="row">        
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="bg-success px-3 py-2 text-white br-8 max-content"><i
                            class="fa-regular fa-comment-dots"></i>
                        Thread
                    </h5>
                </div>
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary w-100 text-center" routerLink="/member/thread/new">Write a
                        thread</button>
                </div>
                <div *ngIf="threads.length==0" class="col-12">
                    No Thread Available
                </div>
                <div *ngIf="threads.length>0" class="col-md-12">
                    <div *ngFor="let thread of threads;let i = index" class="card p-0">
                        <div class="card-body p-5">
                            <div class="row justify-content-between align-items-center mb-3">
                                <div class="col-md-12">
                                    <img *ngIf="thread.fileId != null"
                                        src="http://localhost:8080/files/{{thread.fileId}}" class="w-100" alt="thread-img">
                                    <div class="d-flex flex-nowrap align-items-center">                                      
                                        <img *ngIf="thread.profilePictureId != null"
                                            src="http://localhost:8080/files/{{thread.profilePictureId}}" height="40"
                                            width="40" class="br-full " alt="profile-img">
                                        <img *ngIf="thread.profilePictureId == null"
                                            src=".../../../../../../assets/img/default-profile-picture.jpg" height="40"
                                            width="40" class="br-full " alt="profile-img">
                                        <p class="ml-3  my-1 thread-profile-text">
                                            {{thread.fullName}}</p><span
                                            [ngClass]="thread.threadTypeName == 'Regular' ? 'badge-thread bg-secondary text-white px-3 py-2 br-8 ml-auto' 
                                        : thread.threadTypeName == 'Polling' ? 'badge-thread bg-primary text-white px-3 py-2 br-8 ml-auto' : 
                                        'badge-thread bg-warning text-white px-3 py-2 br-8 ml-auto'">{{thread.threadTypeName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-title">
                                <h4 class=" -text">{{thread.title}}</h4>
                            </div>
                            <p class="card-text text-secondary  -text">
                                {{thread.content}}
                            </p>
                        </div>
                        <div class="card-footer text-muted px-5">
                            <div class="row justify-content-between">
                                <div class="col-md-9">
                                    <span><i class="fa-regular fa-heart"></i> {{likeCounters[i]}}</span>
                                    <span class="ml-3"><i
                                            class="fa-regular fa-comment"></i> {{commentCounters[i]}}</span>
                                    <span class="ml-3"><i class="fa-regular fa-bookmark"></i></span>
                                </div>
                                <div class="col-md-3 text-end">
                                    <a routerLink="/member/thread/{{thread.id}}">Read More -></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-md-4 col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="bg-primary px-3 py-2 text-white br-8 max-content"><i class="fa-regular fa-calendar"></i>
                        Latest Activity
                    </h5>
                </div>
            </div>
             <ng-container *ngIf="courses$ | async as courses">
                 <div *ngFor="let course of courses" class="col-md-12 mb-4">
                     <div class="card p-0 relative">
                         <div class="card-img relative">
                             <img src="http://localhost:8080/files/{{course.fileId}}" class="card-img-top activity-img"
                                 alt="...">
                         </div>

                         <div class="card-body p-4">
                             <div class="card-title">
                                 <p class="badge-event fit-content px-3 py-1 text-white br-8 text-center">
                                     <i class="fa-solid fa-award"></i> {{course.activityTypeName}}
                                 </p>
                                 <h5>{{course.activityName}}
                                 </h5>
                             </div>
                             <div class="row">
                                 <div class="col-1 text-muted"><i class="fa-solid fa-calendar"></i></div>
                                 <div class="col-11 text-muted">{{course.dateStart}} - {{course.dateEnd}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                                 <div class="col-11 text-muted">{{course.location}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                 <div class="col-11 text-muted">{{course.timeStart.substr(0,5)}} -
                                     {{course.timeEnd.substr(0,5)}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                                 <div class="col-11 text-muted">Rp{{course.price}}</div>

                                 <div class="col-md-12 mr-auto">
                                     <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                             class="fa-regular fa-calendar"></i>
                                         {{course.categoryName}}
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </ng-container>
             <ng-container *ngIf="events$ | async as events">
                 <div *ngFor="let event of events" class="col-md-12 mb-4">
                     <div class="card p-0 relative">
                         <div class="card-img relative">
                             <img src="http://localhost:8080/files/{{event.fileId}}" class="card-img-top activity-img"
                                 alt="...">
                         </div>

                         <div class="card-body p-4">
                             <div class="card-title">
                                 <p class="badge-event fit-content px-3 py-1 text-white br-8 text-center">
                                     <i class="fa-solid fa-award"></i> {{event.activityTypeName}}
                                 </p>
                                 <h5>{{event.activityName}}
                                 </h5>
                             </div>
                             <div class="row">
                                 <div class="col-1 text-muted"><i class="fa-solid fa-calendar"></i></div>
                                 <div class="col-11 text-muted">{{event.dateStart}} - {{event.dateEnd}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                                 <div class="col-11 text-muted">{{event.location}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                                 <div class="col-11 text-muted">{{event.timeStart.substr(0,5)}} -
                                     {{event.timeEnd.substr(0,5)}}</div>
                                 <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                                 <div class="col-11 text-muted">Rp{{event.price}}</div>

                                 <div class="col-md-12 mr-auto">
                                     <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                             class="fa-regular fa-calendar"></i>
                                         {{event.categoryName}}
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </ng-container>
        </div>
    </div>
</div>
