<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0 shadow-3 br-20" style="min-width:80%">
        <div class="col-6 p-8 login-img relative br-left-20" style="padding:0.3rem;">
            <div class="login-img-overlay"></div>
            <div class="h-full w-full m-0 py-7 px-4 flex justify-content-center align-items-center login-img-overlay">
            </div>

        </div>
        <div class="col-6 py-8 px-2">
            <div class="text-center mb-6">
                <div class="text-900 text-3xl font-medium mb-3">Sign Up</div>
            </div>
            <form class="w-full md:w-10 mx-auto" #registerForm="ngForm">
                <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                <input id="email" name="email" type="email" placeholder="Email address" pInputText class="w-full mb-3"
                    style="padding:1rem;" [required]="true" [(ngModel)]="insertUserDtoReq.email">

                <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>                
                <input id="password" name="password" type="password" placeholder="Password" 
                    pInputText class="w-full mb-3" style="padding:1rem;" [minlength]="8" [required]="true" 
                    [(ngModel)]="insertUserDtoReq.password" (ngModelChange)="isPassSame()">

                <label for="cpassword" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
                <input id="cpassowrd" name="cpassword" type="password" placeholder="Password" pInputText
                    class="w-full mb-3" style="padding:1rem;" [required]="true" [minLength]="8"
                    [(ngModel)]="cpassword" (ngModelChange)="isPassSame()">

                <div class="mb-5 text-center">
                    <a class="font-medium no-underline ml-2 text-center cursor-pointer"
                        style="color: var(--primary-color)" routerLink="/login">Already have an account?</a>
                </div>

                <button type="button" class="btn btn-primary w-100 p-3 text-xl"
                 data-bs-toggle="modal" data-bs-target="#exampleModal" 
                 [disabled]="isButtonValid(registerForm.form.invalid, isSame)">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">   
        <div class="modal-content bg-transparant">
            <div class="modal-body">
                 <div class="card shadow-0 w-100 text-center px-6">
                     <div class="card-img"> <img class="img-fluid" style="max-width: 100px;"
                             src="../../../assets/img/lawverse-planet.png"> </div>
                     <div class="card-title">
                         <h4>Verification Code</h4>
                     </div>
                     <div class="card-text">
                         <input type="number" class="form-control py-2">
                     </div>
                     <div class="row mt-4">
                         <div class="col-md-6">
                             <button type="button" class="btn btn-secondary w-100"
                                 data-bs-dismiss="modal">Close</button>
                         </div>
                         <div class="col-md-6">
                             <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Submit</button>
                         </div>
                     </div>
                 </div>
            </div>
        </div>        
    </div>
</div>