<app-navbar></app-navbar>
<div class="container my-3">
    <h2><span class="badge bg-primary"><i class="fa-regular fa-calendar"></i> Event</span></h2>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let course of courses" class="col-md-4 mb-4">
            <div class="card p-0 relative">
                <img src="http://localhost:8080/files/{{course.fileId}}" class="card-img-top activity-img" alt="...">
                <div class="card-body p-4">
                    <div class="d-flex mb-2">
                        <p class="badge-course w-100 px-3 py-2 text-white br-8 text-center"><i
                                class="fa-regular fa-calendar"></i>
                            {{course.activityTypeName}}
                        </p>
                    </div>
                    <div class="card-title">
                        <h4>{{course.activityName}}</h4>
                    </div>
                    <div class="row">
                        <div class="col-1 text-muted"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="col-5 text-muted">{{course.location}}</div>
                        <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                        <div class="col-5 text-muted">{{course.timeStart.substr(0,5)}} -
                            {{course.timeEnd.substr(0,5)}}</div>
                        <div class="col-1 text-muted"><i class="fa-solid fa-clock"></i></div>
                        <div class="col-5 text-muted">{{course.dateStart}} - {{course.dateEnd}}</div>
                        <div class="col-1 text-muted"><i class="fa-solid fa-ticket"></i></div>
                        <div class="col-5 text-muted">IDR {{course.price}}</div>
                        <div class="col-10 mx-auto">
                            <p class="badge-activity-yellow px-3 py-2 br-8 text-center"><i
                                    class="fa-regular fa-calendar"></i>
                                {{course.categoryName}}
                            </p>
                        </div>
                        <div class="col-6 mx-auto text-center">
                            <button type="button" (click)="onClick(course.id)"
                                class="btn btn-success w-100">Order</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
