<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0 " style="min-width:80%">        
        <div class="col-12 xl:col-6 shadow-3 my-4"
            style="border-radius:56px; padding:0.3rem;">
            <form class="h-full w-full m-0 py-7 px-4" style="border-radius:53px;" #profileForm="ngForm"
                (ngSubmit)="insert(profileForm.form.valid)">
                <div class="text-center mb-5">                    
                     <div class="text-900 text-3xl font-medium mb-3">Account Detail</div>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <label for="name" class="block text-900 text-xl font-medium mb-2">Full Name<span style="color: red;">*</span></label>
                    <input id="name" type="text" placeholder="Full name" pInputText class="w-full mb-3"
                        style="padding:1rem;" name="name" [(ngModel)]="insertProfileDtoReq.fullName" 
                        [required]="true">

                    <label for="phone" class="block text-900 text-xl font-medium mb-2">Phone Number<span style="color: red;">*</span></label>
                    <input id="phone" type="text" placeholder="Phone Number" pInputText class="w-full mb-3"
                        style="padding:1rem;" name="phone" [(ngModel)]="insertProfileDtoReq.phoneNumber"
                        [maxlength]="13" [required]="true">

                    <label for="company" class="block text-900 text-xl font-medium mb-2">Company<span style="color: red;">*</span></label>
                    <input id="company" type="text" placeholder="Company" pInputText class="w-full mb-3"
                        style="padding:1rem;" name="company" [(ngModel)]="insertProfileDtoReq.companyName" 
                        [required]="true">

                    <label for="industry" class="block text-900 font-medium text-xl mb-2">Industry<span style="color: red;">*</span></label>
                    <p-dropdown styleClass="w-full mb-3 p-2" [options]="industries" class="flex" optionLabel="industryName"
                        optionValue="id" id="industry" name="industry" placeholder="Select Industry"
                        [(ngModel)]="insertProfileDtoReq.industryId"  [showClear]="true" [required]="true"></p-dropdown>

                    <label for="position" class="block text-900 font-medium text-xl mb-2">Position<span style="color: red;">*</span></label>
                    <p-dropdown styleClass="w-full mb-6 p-2" [options]="positions" optionLabel="positionName"
                        id="position" name="position" [(ngModel)]="insertProfileDtoReq.positionId" 
                        optionValue="id" placeholder="Select Position" [showClear]="true" [required]="true"></p-dropdown>
                    
                        <div class="grid">
                        <div class="col-6">
                            <button pButton pRipple label="Cancel" class="p-button-secondary w-full p-3 text-xl"></button>
                        </div>
                        <div class="col-6">
                            <button type="submit" pButton pRipple label="Submit" class="w-full p-3 text-xl" [disabled]="profileForm.form.invalid"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

